.reveal section img.trans-image {
  display: inline;
  border: none;
  background: rgba(255,255,255,0);
  box-shadow: none;
}

.reveal section img.inline-logo {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  margin-left: 10px;
  border: none;
  background: rgba(255,255,255,0);
  box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: inherit;
}
